.grid {
width: 200px;
height: 400px;
display: flex;
flex-wrap: wrap;
background-color: darkblue;
}
.grid div{
    height: 20px;
    width: 20px;
    
}
.figure{
    background-color: yellow;
}

// Misschien meer styling toevoegen voor je figures? (tip) game ziet er nice uit.
